<!DOCTYPE html>
<html lang="en">
<head>
    <title>Isdb</title>
</head>
<body style="text-align:center;">
    <h1>Welcome to <%= title %></h1>
    <div classname="image-div"><img src="https://images.unsplash.com/photo-1584882793511-33ac865aedb7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGdyYW5kJTIwcGlhbm98ZW58MHx8MHx8&w=1000&q=80" alt="piano"></div>
</body>
</html>